* {
    box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

img.logo {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 200px;
    height: 100px;
    border: 3px solid #73AD21;
}
